# Please use pip to manage airflow dependencies.
apache-airflow==1.10.15

# Editable install with no version specified.
google-cloud-bigquery
pandas
pyarrow
pydantic<2
pygsheets
requests
searchconsole
